/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
/*
@media screen and (min-width: 401px) {
    html {
        font-size: 18px;
    }
}
*/

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/*
@media screen and (max-width: 400px) {
    html {
        font-size: 16px;
    }
}
*/
:root {

    --bgColor: rgb(14, 20, 27);
    --bgColorGradient: linear-gradient(180deg, rgba(14, 20, 27, 1) 0%, rgba(13, 18, 25, 1) 100%);
    --tamanoFuenteNav: 3em;
    --tamanoFuenteSeccion: 1.5em;

    --fuente: Noe Display, Georgia, Tahoma;
    --colorFuente: rgb(160, 169, 187);

    --colorFuenteNav: rgb(212, 208, 208);
    --colorBgNav: rgb(6, 34, 59);
    --tamanoFuenteNav: 2em;

    --colorFuentePreTitulo: rgb(236, 116, 100);
    --tamanoFuentePreTitulo: 2em;

    --colorFuenteTitulo: rgb(230, 216, 216);
    --tamanoFuenteTitulo: 2.5em;

    --tamanoTituloSeccion: 2em;
    --tamanoSubTituloSeccion: 1.5em;

    --tamanoIconosHabilidades: 12vw;
    --tamanoFuenteForm: 1.5em;
}

html {
    font-size: calc(17px + 0.390625vw);

    scroll-behavior: smooth;
    min-height: 100%;

}

body {
    background: var(--bgColor);
    background: var(--bgColorGradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    margin: auto;
    padding: 0;
    width: 95vw;
    height: 360vh;
    overflow-y: auto;

    color: var(--colorFuente);
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1%;

}

nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    width: 100%;
    height: 7em;
    background-color: var(--colorBgNav);
    margin-top: 1%;
    margin-bottom: 1%;
}

.atajoNav {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    font-size: var(--tamanoFuenteNav);
    color: var(--colorFuente)
}

.atajoNav a {
    color: var(--colorFuenteNav)
}

/* Unvisited link  */
.atajoNav a:visited {
    color: var(--colorFuenteNav);
}

.atajoNav a:link {
    transition-duration: 0.5s;
}

/* Visited link    */
.atajoNav a:hover {

    color: #eeecee;
    transition-duration: 0.5s;
}

/* Mouse over link */
.atajoNav a:active {
    color: #0000FF;

}

/*

.saludo {
    display: block;


}

.seccion {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-shrink: 0.5;
    flex-grow: 0;
    flex-direction: column;
    min-height: min-content;
    font-size: var(--tamanoFuenteSeccion);
}



#containerFoto {
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
}

#circulo {
    background: rgb(150, 154, 156);
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

#containerFoto img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

#preTitulo {
    font-size: var(--tamanoFuentePreTitulo);
    color: var(--colorFuentePreTitulo);

}

#titulo {
    font-size: var(--tamanoFuenteTitulo);
    color: var(--colorFuenteTitulo);

}

.tituloSeccion {
    display: block;
    height: fit-content;
    width: 100%;
    margin-bottom: 1%;
    font-size: var(--tamanoTituloSeccion);
    color: var(--colorFuenteTitulo);
}

.subTituloSeccion {
    margin-bottom: 3%;
    font-size: var(--tamanoSubTituloSeccion);
    color: var(--colorFuenteTitulo);

}



.contenidoSeccion {
    margin-bottom: 1%;
}


.contenidoHabilidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    gap: 5%;
    height: fit-content;
    justify-content: space-evenly;
    align-self: center;
    margin-bottom: 1%;
}


.contenidoHabilidades img {
    width: var(--tamanoIconosHabilidades);
    height: var(--tamanoIconosHabilidades);
    margin-bottom: 3%;
}

.contenidoHabilidades svg {

    width: var(--tamanoIconosHabilidades);
    height: var(--tamanoIconosHabilidades);
    margin-bottom: 3%;

}

#habilidades {
    display: flex;
    justify-content: center;
    align-self: center;
}

#proyectos {
    display: flex;
    align-self: center;
}

#contacto {
    display: flex;
    align-self: center;
    height: 40vh;
    width: 100%;
    margin-bottom: 5%;
}

.campoForm {
    display: block;
    background-color: var(--bgColor);
    resize: none;
    height: 2vh;
    width: 80%;
    color: var(--colorFuente);
    font: var(--tamanoFuenteForm);
}

#emailForm {
    width: 50%;
}

#mensajeForm {
    height: fit-content;
    margin-top: 3%;

}

#mensajeForm textarea {
    height: 10em;
}

form button {
    margin-top: 1%;
    background-color: var(--bgColor);
    color: var(--colorFuente);
    width: 10em;
    height: fit-content;
    font-size: 2vh;
    margin-bottom: 1;


}